
<div *ngIf="customerContactType">
    <h2><span jhiTranslate="timesheetApp.customerContactType.detail.title">Customer Contact Type</span> {{customerContactType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.customerContactType.code">Code</span></dt>
        <dd>
            <span>{{customerContactType.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customerContactType.name">Name</span></dt>
        <dd>
            <span>{{customerContactType.name}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customerContactType.createdDate">Created Date</span></dt>
        <dd>
            <span>{{customerContactType.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customerContactType.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{customerContactType.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer-contact-type/'+ customerContactType.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
