<div>
    <h2>
        <span jhiTranslate="timesheetApp.customerContactType.home.title">Customer Contact Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-customer-contact-type" [routerLink]="['/', { outlets: { popup: ['customer-contact-type-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="timesheetApp.customerContactType.home.createLabel">
            Create new Customer Contact Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'timesheetApp.customerContactType.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="customerContactTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="timesheetApp.customerContactType.code">Code</span></th>
            <th><span jhiTranslate="timesheetApp.customerContactType.name">Name</span></th>
            <th><span jhiTranslate="timesheetApp.customerContactType.createdDate">Created Date</span></th>
            <th><span jhiTranslate="timesheetApp.customerContactType.updatedDate">Updated Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customerContactType of customerContactTypes ;trackBy: trackId">
                <td><a [routerLink]="['../customer-contact-type', customerContactType.id ]">{{customerContactType.id}}</a></td>
                <td>{{customerContactType.code}}</td>
                <td>{{customerContactType.name}}</td>
                <td>{{customerContactType.createdDate | date:'mediumDate'}}</td>
                <td>{{customerContactType.updatedDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../customer-contact-type', customerContactType.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer-contact-type/'+ customerContactType.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer-contact-type/'+ customerContactType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
