<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVacationTaskLabel" jhiTranslate="timesheetApp.vacationTask.home.createOrEditLabel">Create or edit a Vacation Task</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!vacationTask.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="vacationTask.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.vacationTask.taskId" for="field_taskId">Task Id</label>
            <input type="text" class="form-control" name="taskId" id="field_taskId"
                [(ngModel)]="vacationTask.taskId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.vacationTask.vacationRequestId" for="field_vacationRequestId">Vacation Request Id</label>
            <input type="text" class="form-control" name="vacationRequestId" id="field_vacationRequestId"
                [(ngModel)]="vacationTask.vacationRequestId" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
