
<div *ngIf="vacationTask">
    <h2><span jhiTranslate="timesheetApp.vacationTask.detail.title">Vacation Task</span> {{vacationTask.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.vacationTask.taskId">Task Id</span></dt>
        <dd>
            <span>{{vacationTask.taskId}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.vacationTask.vacationRequestId">Vacation Request Id</span></dt>
        <dd>
            <span>{{vacationTask.vacationRequestId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'vacation-task/'+ vacationTask.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
