<div>
    <h2>
        <span jhiTranslate="timesheetApp.vacationTask.home.title">Vacation Tasks</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'timesheetApp.vacationTask.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" >
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="taskId"><span jhiTranslate="timesheetApp.vacationTask.taskId">Task Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user" jhiTranslate="timesheetApp.vacationTask.user" ><span>user</span></th>
            <th jhiSortBy="type" jhiTranslate="timesheetApp.vacationTask.type"><span>Type</span></th>
            <th jhiSortBy="startDate" jhiTranslate="timesheetApp.vacationTask.startDate"><span >startDate</span></th>
            <th jhiSortBy="endDate" jhiTranslate="timesheetApp.vacationTask.endDate"><span>endDate</span></th>
            <th><span jhiTranslate="timesheetApp.vacationTask.duration">Duration</span></th>
            <th><span  jhiTranslate="timesheetApp.vacationTask.reason">Reason</span></th>
            <th><span  jhiTranslate="timesheetApp.vacationTask.associee">Associee</span></th>

            <th></th>
            </tr>
            </thead>
          <tbody>
              <tr *ngFor="let vacationTask of tasks" >
                    <td>{{vacationTask.taskId}}</td>
                    <td>{{vacationTask.user}}</td>
                    <td>{{vacationTask.type}}</td>
                    <td>{{vacationTask.from | date:'mediumDate'}}</td>
                     <td>{{vacationTask.to | date:'mediumDate'}}</td> 
                    <td>{{vacationTask.duree}}</td>
                    <td>{{vacationTask.reason}}</td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="reviewer">
                                <option *ngFor="let manager of managers;" 
                                 [ngValue]="manager.login"> {{manager.login}}</option>                                
                            </select>
                            
                        </div>
    
                    </td>
                     <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="button" (click)="approve(vacationTask.taskId)" class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'save'"></fa-icon>
                                    <span class="d-none d-md-inline">Approuver</span>
                                </button>
                                <td></td>
                                <button type="button"  (click)="disapprove(vacationTask.taskId)" class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline">Rejeter</span>
                                    </button>                          
                            </div>
                    </td>
                </tr> 
            </tbody> 
        </table>
    </div>
    <div *ngIf="vacationTasks && vacationTasks.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
