<form class="form-horizontal"
      role="form">

  <p>Do you approve this holiday request ?</p>

    <div class="control-group">
        <label class="control-label">Approve: </label>
        <div class="controls">
            <select cam-variable-name="isapproved"
                    cam-variable-type="String"
                    type="text"
                    name="isapproved"
                    class="form-control"
            >
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
        </div>

    </div>

  <div class="control-group">

    <label class="control-label">Assignee: </label>
    <div class="controls">
      <select cam-variable-name="assignee"
              cam-variable-type="String"
              type="text"
              name="assignee"
              class="form-control"
              >
        <option></option>
        <option value="hamed">hamed</option>
        <option value="lasaad">lasaad</option>
        <option value="salah">salah</option>
        <option value="No reviewer">No reviewer</option>
      </select>
      <p>Who should review this  holiday request ?</p>
  </div>
  </div>

  </div>
</form>
