
<div *ngIf="userPosition">
    <h2><span jhiTranslate="timesheetApp.userPosition.detail.title">User Position</span> {{userPosition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.userPosition.code">Code</span></dt>
        <dd>
            <span>{{userPosition.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.userPosition.name">Name</span></dt>
        <dd>
            <span>{{userPosition.name}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.userPosition.createdDate">Created Date</span></dt>
        <dd>
            <span>{{userPosition.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.userPosition.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{userPosition.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-position/'+ userPosition.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
