
<div *ngIf="addressType">
    <h2><span jhiTranslate="timesheetApp.addressType.detail.title">Address Type</span> {{addressType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.addressType.code">Code</span></dt>
        <dd>
            <span>{{addressType.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.addressType.name">Name</span></dt>
        <dd>
            <span>{{addressType.name}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.addressType.createdDate">Created Date</span></dt>
        <dd>
            <span>{{addressType.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.addressType.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{addressType.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address-type/'+ addressType.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
