
<div *ngIf="projectMemberShip">
    <h2><span jhiTranslate="timesheetApp.projectMemberShip.detail.title">Project Member Ship</span> {{projectMemberShip.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.projectMemberShip.code">Code</span></dt>
        <dd>
            <span>{{projectMemberShip.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.projectMemberShip.createdDate">Created Date</span></dt>
        <dd>
            <span>{{projectMemberShip.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.projectMemberShip.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{projectMemberShip.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.projectMemberShip.rate">Rate</span></dt>
        <dd>
            <span>{{projectMemberShip.rate}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.projectMemberShip.user">User</span></dt>
        <dd>
            <span>{{projectMemberShip.user}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.projectMemberShip.userPosition">User Position</span></dt>
        <dd>
            <span>{{projectMemberShip.userPosition}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.projectMemberShip.project">Project</span></dt>
        <dd>
            <span>{{projectMemberShip.project}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'project-member-ship/'+ projectMemberShip.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
