<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProjectMemberShipLabel" jhiTranslate="timesheetApp.projectMemberShip.home.createOrEditLabel">Create or edit a Project Member Ship</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!projectMemberShip.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="projectMemberShip.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.projectMemberShip.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="projectMemberShip.code" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.projectMemberShip.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="projectMemberShip.createdDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.projectMemberShip.updatedDate" for="field_updatedDate">Updated Date</label>
            <div class="input-group">
                <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" ngbDatepicker  #updatedDateDp="ngbDatepicker" [(ngModel)]="projectMemberShip.updatedDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="updatedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.projectMemberShip.rate" for="field_rate">Rate</label>
            <input type="number" class="form-control" name="rate" id="field_rate"
                [(ngModel)]="projectMemberShip.rate" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.projectMemberShip.user" for="field_user">User</label>
            <select class="form-control" name="user"  [(ngModel)]="projectMemberShip.user">
                <option [ngValue]="user.id === projectMemberShip.user?.id ? projectMemberShip.user : user" *ngFor="let user of users;"> {{user.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.projectMemberShip.userPosition" for="field_userPosition">User Position</label>
            <select class="form-control" name="userPosition"  [(ngModel)]="projectMemberShip.userPosition">
                <option [ngValue]="userPosition.id === projectMemberShip.userPosition?.id ? projectMemberShip.userPosition : userPosition" *ngFor="let userPosition of userPositions;"> {{userPosition.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.projectMemberShip.project" for="field_project">Project</label>
            <select class="form-control" name="project"  [(ngModel)]="projectMemberShip.project">
                <option [ngValue]="project.id === projectMemberShip.project?.id ? projectMemberShip.project : project" *ngFor="let project of projects;"> {{project.name}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
