<div>
    <h2>
        <span jhiTranslate="timesheetApp.projectMemberShip.home.title">Project Member Ships</span>
        <button class="btn btn-primary float-right jh-create-entity create-project-member-ship" [routerLink]="['/', { outlets: { popup: ['project-member-ship-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="timesheetApp.projectMemberShip.home.createLabel">
            Create new Project Member Ship
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'timesheetApp.projectMemberShip.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="projectMemberShips">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="timesheetApp.projectMemberShip.code">Code</span></th>
            <th><span jhiTranslate="timesheetApp.projectMemberShip.createdDate">Created Date</span></th>
            <th><span jhiTranslate="timesheetApp.projectMemberShip.updatedDate">Updated Date</span></th>
            <th><span jhiTranslate="timesheetApp.projectMemberShip.rate">Rate</span></th>
            <th><span jhiTranslate="timesheetApp.projectMemberShip.user">User</span></th>
            <th><span jhiTranslate="timesheetApp.projectMemberShip.userPosition">User Position</span></th>
            <th><span jhiTranslate="timesheetApp.projectMemberShip.project">Project</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let projectMemberShip of projectMemberShips ;trackBy: trackId">
                <td><a [routerLink]="['../project-member-ship', projectMemberShip.id ]">{{projectMemberShip.id}}</a></td>
                <td>{{projectMemberShip.code}}</td>
                <td>{{projectMemberShip.createdDate | date:'mediumDate'}}</td>
                <td>{{projectMemberShip.updatedDate | date:'mediumDate'}}</td>
                <td>{{projectMemberShip.rate}}</td>
                <td>{{projectMemberShip.user.login}}</td>
                <td>{{projectMemberShip.userPosition.name}}</td>
                <td>{{projectMemberShip.project.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../project-member-ship', projectMemberShip.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project-member-ship/'+ projectMemberShip.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project-member-ship/'+ projectMemberShip.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
