
<div *ngIf="module">
    <h2><span jhiTranslate="timesheetApp.module.detail.title">Module</span> {{module.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.module.code">Code</span></dt>
        <dd>
            <span>{{module.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.module.name">Name</span></dt>
        <dd>
            <span>{{module.name}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.module.createdDate">Created Date</span></dt>
        <dd>
            <span>{{module.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.module.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{module.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.module.summary">Summary</span></dt>
        <dd>
            <span>{{module.summary}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.module.description">Description</span></dt>
        <dd>
            <span>{{module.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'module/'+ module.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
