<div>
    <h2>
        <span jhiTranslate="timesheetApp.invoice.home.title">Invoices</span>
        <!--<button class="btn btn-primary float-right jh-create-entity create-invoice" [routerLink]="['/', { outlets: { popup: ['invoice-new'] } }]">-->
            <!--<span class="fa fa-plus"></span>-->
            <!--<span class="hidden-sm-down"  jhiTranslate="timesheetApp.invoice.home.createLabel">-->
            <!--Create new Invoice-->
            <!--</span>-->
        <!--</button>-->
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropYear" ngbDropdownToggle>Choisir l'année</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">2018</button>
                    <button class="dropdown-item">2019</button>
                    <button class="dropdown-item">2020</button>
                </div>
            </div>
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropMonth" ngbDropdownToggle>Choisir le mois</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">01</button>
                    <button class="dropdown-item">02</button>
                    <button class="dropdown-item">03</button>
                </div>
            </div>

            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropClient" ngbDropdownToggle>Choisir le client</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">Client - 1</button>
                    <button class="dropdown-item">Client - 2</button>
                    <button class="dropdown-item">Client - 3</button>
                </div>
            </div>

            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropProjet" ngbDropdownToggle>Choisir le projet</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">Project - 1</button>
                    <button class="dropdown-item">Project - 2</button>
                    <button class="dropdown-item">Project - 3</button>
                </div>
            </div>

            <button class="btn btn-primary">Générer la facture</button>

            <button class="btn btn-success">Exportet PDF</button>
        </div>
    </div>

    <br/>
    <!--<div class="table-responsive" *ngIf="invoices">-->
        <!--<table class="table table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
            <!--<th><span jhiTranslate="global.field.id">ID</span></th>-->
            <!--<th><span jhiTranslate="timesheetApp.invoice.code">Code</span></th>-->
            <!--<th><span jhiTranslate="timesheetApp.invoice.createdDate">Created Date</span></th>-->
            <!--<th><span jhiTranslate="timesheetApp.invoice.updatedDate">Updated Date</span></th>-->
            <!--<th><span jhiTranslate="timesheetApp.invoice.status">Status</span></th>-->
            <!--<th><span jhiTranslate="timesheetApp.invoice.project">Project</span></th>-->
            <!--<th></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr *ngFor="let invoice of invoices ;trackBy: trackId">-->
                <!--<td><a [routerLink]="['../invoice', invoice.id ]">{{invoice.id}}</a></td>-->
                <!--<td>{{invoice.code}}</td>-->
                <!--<td>{{invoice.createdDate | date:'mediumDate'}}</td>-->
                <!--<td>{{invoice.updatedDate | date:'mediumDate'}}</td>-->
                <!--<td>{{invoice.status}}</td>-->
                <!--<td>{{invoice.project.name}}</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['../invoice', invoice.id ]"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="fa fa-eye"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'invoice/'+ invoice.id + '/edit'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="fa fa-pencil"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'invoice/'+ invoice.id + '/delete'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="fa fa-remove"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
</div>
