
<div *ngIf="invoice">
    <h2><span jhiTranslate="timesheetApp.invoice.detail.title">Invoice</span> {{invoice.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.invoice.code">Code</span></dt>
        <dd>
            <span>{{invoice.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.invoice.createdDate">Created Date</span></dt>
        <dd>
            <span>{{invoice.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.invoice.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{invoice.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.invoice.status">Status</span></dt>
        <dd>
            <span>{{invoice.status}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.invoice.project">Project</span></dt>
        <dd>
            <span>{{invoice.project}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'invoice/'+ invoice.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
