<div>
    <h2>
        <span jhiTranslate="timesheetApp.vacationRequest.home.title">Vacation Requests</span>
        <button class="btn btn-primary float-right jh-create-entity create-vacation-request" [routerLink]="['/', { outlets: { popup: ['vacation-request-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="timesheetApp.vacationRequest.home.createLabel">
            Create new Vacation Request
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'timesheetApp.vacationRequest.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="vacationRequests">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="timesheetApp.vacationRequest.code">Code</span></th>
            <th><span jhiTranslate="timesheetApp.vacationRequest.startDate">Start Date</span></th>
            <th><span jhiTranslate="timesheetApp.vacationRequest.endDate">End Date</span></th>
            <th><span jhiTranslate="timesheetApp.vacationRequest.reason">Reason</span></th>
            <th><span jhiTranslate="timesheetApp.vacationRequest.status">Status</span></th>
            <th><span jhiTranslate="timesheetApp.vacationRequest.createdDate">Created Date</span></th>
            <th><span jhiTranslate="timesheetApp.vacationRequest.updatedDate">Updated Date</span></th>
            <th><span jhiTranslate="timesheetApp.vacationRequest.type">Type</span></th>
            <th><span jhiTranslate="timesheetApp.vacationRequest.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vacationRequest of vacationRequests ;trackBy: trackId">
                <td><a [routerLink]="['../vacation-request', vacationRequest.id ]">{{vacationRequest.id}}</a></td>
                <td>{{vacationRequest.code}}</td>
                <td>{{vacationRequest.startDate | date:'mediumDate'}}</td>
                <td>{{vacationRequest.endDate | date:'mediumDate'}}</td>
                <td>{{vacationRequest.reason}}</td>
                <td>{{vacationRequest.status}}</td>
                <td>{{vacationRequest.createdDate | date:'mediumDate'}}</td>
                <td>{{vacationRequest.updatedDate | date:'mediumDate'}}</td>
                <td>{{vacationRequest.type.name}}</td>
                <td>{{vacationRequest.user.login}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../vacation-request', vacationRequest.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vacation-request/'+ vacationRequest.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vacation-request/'+ vacationRequest.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
