
<div *ngIf="vacationRequest">
    <h2><span jhiTranslate="timesheetApp.vacationRequest.detail.title">Vacation Request</span> {{vacationRequest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.vacationRequest.code">Code</span></dt>
        <dd>
            <span>{{vacationRequest.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.vacationRequest.startDate">Start Date</span></dt>
        <dd>
            <span>{{vacationRequest.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.vacationRequest.endDate">End Date</span></dt>
        <dd>
            <span>{{vacationRequest.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.vacationRequest.reason">Reason</span></dt>
        <dd>
            <span>{{vacationRequest.reason}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.vacationRequest.status">Status</span></dt>
        <dd>
            <span>{{vacationRequest.status}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.vacationRequest.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vacationRequest.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.vacationRequest.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vacationRequest.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.vacationRequest.type">Type</span></dt>
        <dd>
            <span>{{vacationRequest.type}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.vacationRequest.user">User</span></dt>
        <dd>
            <span>{{vacationRequest.user}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'vacation-request/'+ vacationRequest.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
