<div>
    <h2>
        <span jhiTranslate="timesheetApp.customerContact.home.title">Customer Contacts</span>
        <button class="btn btn-primary float-right jh-create-entity create-customer-contact" [routerLink]="['/', { outlets: { popup: ['customer-contact-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="timesheetApp.customerContact.home.createLabel">
            Create new Customer Contact
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'timesheetApp.customerContact.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="customerContacts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="timesheetApp.customerContact.code">Code</span></th>
            <th><span jhiTranslate="timesheetApp.customerContact.createdDate">Created Date</span></th>
            <th><span jhiTranslate="timesheetApp.customerContact.updatedDate">Updated Date</span></th>
            <th><span jhiTranslate="timesheetApp.customerContact.firstName">First Name</span></th>
            <th><span jhiTranslate="timesheetApp.customerContact.lastName">Last Name</span></th>
            <th><span jhiTranslate="timesheetApp.customerContact.email">Email</span></th>
            <th><span jhiTranslate="timesheetApp.customerContact.phone1">Phone 1</span></th>
            <th><span jhiTranslate="timesheetApp.customerContact.phone2">Phone 2</span></th>
            <th><span jhiTranslate="timesheetApp.customerContact.type">Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customerContact of customerContacts ;trackBy: trackId">
                <td><a [routerLink]="['../customer-contact', customerContact.id ]">{{customerContact.id}}</a></td>
                <td>{{customerContact.code}}</td>
                <td>{{customerContact.createdDate | date:'mediumDate'}}</td>
                <td>{{customerContact.updatedDate | date:'mediumDate'}}</td>
                <td>{{customerContact.firstName}}</td>
                <td>{{customerContact.lastName}}</td>
                <td>{{customerContact.email}}</td>
                <td>{{customerContact.phone1}}</td>
                <td>{{customerContact.phone2}}</td>
                <td>{{customerContact.type.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../customer-contact', customerContact.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer-contact/'+ customerContact.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer-contact/'+ customerContact.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
