
<div *ngIf="customerContact">
    <h2><span jhiTranslate="timesheetApp.customerContact.detail.title">Customer Contact</span> {{customerContact.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.customerContact.code">Code</span></dt>
        <dd>
            <span>{{customerContact.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customerContact.createdDate">Created Date</span></dt>
        <dd>
            <span>{{customerContact.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customerContact.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{customerContact.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customerContact.firstName">First Name</span></dt>
        <dd>
            <span>{{customerContact.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customerContact.lastName">Last Name</span></dt>
        <dd>
            <span>{{customerContact.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customerContact.email">Email</span></dt>
        <dd>
            <span>{{customerContact.email}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customerContact.phone1">Phone 1</span></dt>
        <dd>
            <span>{{customerContact.phone1}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customerContact.phone2">Phone 2</span></dt>
        <dd>
            <span>{{customerContact.phone2}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customerContact.type">Type</span></dt>
        <dd>
            <span>{{customerContact.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer-contact/'+ customerContact.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
