<form class="form-horizontal"
      role="form">

  <p>Do you approve this timesheet?</p>
 
  <div class="control-group">
    <label class="control-label">Assignee: </label>
    <div class="controls">
      <select cam-variable-name="assignee"
              cam-variable-type="String"
              type="text"
              name="assignee"
              class="form-control"
              >
        <option></option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
      <p>Who should review this timesheet?</p>
  </div>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <div class="checkbox">
        <label>
          <input cam-variable-name="aprrouved"
                 cam-variable-type="Boolean"
                 type="checkbox"
                 name="aprrouved"
                 class="form-control" />
          Do you approve?
        </label>
      </div>
    </div>
  </div>
</form>