
<div *ngIf="vacationType">
    <h2><span jhiTranslate="timesheetApp.vacationType.detail.title">Vacation Type</span> {{vacationType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.vacationType.code">Code</span></dt>
        <dd>
            <span>{{vacationType.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.vacationType.name">Name</span></dt>
        <dd>
            <span>{{vacationType.name}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.vacationType.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vacationType.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.vacationType.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vacationType.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'vacation-type/'+ vacationType.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
