<div>
    <h2>
        <span jhiTranslate="timesheetApp.vacationType.home.title">Vacation Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-vacation-type" [routerLink]="['/', { outlets: { popup: ['vacation-type-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="timesheetApp.vacationType.home.createLabel">
            Create new Vacation Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'timesheetApp.vacationType.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="vacationTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="timesheetApp.vacationType.code">Code</span></th>
            <th><span jhiTranslate="timesheetApp.vacationType.name">Name</span></th>
            <th><span jhiTranslate="timesheetApp.vacationType.createdDate">Created Date</span></th>
            <th><span jhiTranslate="timesheetApp.vacationType.updatedDate">Updated Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vacationType of vacationTypes ;trackBy: trackId">
                <td><a [routerLink]="['../vacation-type', vacationType.id ]">{{vacationType.id}}</a></td>
                <td>{{vacationType.code}}</td>
                <td>{{vacationType.name}}</td>
                <td>{{vacationType.createdDate | date:'mediumDate'}}</td>
                <td>{{vacationType.updatedDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../vacation-type', vacationType.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vacation-type/'+ vacationType.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vacation-type/'+ vacationType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
