<div class="cal-day-view">
  <div
  class="cal-all-day-events"
>
  <timesheet-calendar-day-view-event
    *ngFor="let event of view.allDayEvents; trackBy:trackByEventId"
    [dayEvent]="{event: event}"
    [tooltipPlacement]="tooltipPlacement"
    [tooltipTemplate]="tooltipTemplate"
    [tooltipAppendToBody]="tooltipAppendToBody"
    [customTemplate]="eventTemplate"
    [eventTitleTemplate]="eventTitleTemplate"
    [eventActionsTemplate]="eventActionsTemplate"
    (eventClicked)="eventClicked.emit({event: event})"
   >
  </timesheet-calendar-day-view-event>
</div>
<div
  class="cal-hour-rows"
  #dayEventsContainer
>
  <div class="cal-events">
    <div
      #event
      *ngFor="let dayEvent of view?.events; trackBy:trackByDayEvent"
      class="cal-event-container"
      [class.cal-draggable]="dayEvent.event.draggable"
      [class.cal-starts-within-day]="!dayEvent.startsBeforeDay"
      [class.cal-ends-within-day]="!dayEvent.endsAfterDay"
      [ngClass]="dayEvent.event.cssClass"
      mwlResizable
      [resizeSnapGrid]="{top: eventSnapSize || hourSegmentHeight, bottom: eventSnapSize || hourSegmentHeight}"
      [validateResize]="validateResize"
      (resizeStart)="resizeStarted(dayEvent, $event, dayEventsContainer)"
      (resizing)="resizing(dayEvent, $event)"
      (resizeEnd)="resizeEnded(dayEvent)"
     >
      <div
        class="cal-resize-handle cal-resize-handle-before-start"
        *ngIf="dayEvent.event?.resizable?.beforeStart && !dayEvent.startsBeforeDay"
        mwlResizeHandle
        [resizeEdges]="{ top: true }">
      </div>
      <timesheet-calendar-day-view-event
        [dayEvent]="dayEvent"
        [tooltipPlacement]="tooltipPlacement"
        [tooltipTemplate]="tooltipTemplate"
        [tooltipAppendToBody]="tooltipAppendToBody"
        [customTemplate]="eventTemplate"
        [eventTitleTemplate]="eventTitleTemplate"
        [eventActionsTemplate]="eventActionsTemplate"
        (eventClicked)="eventClicked.emit({event: dayEvent.event})">
      </timesheet-calendar-day-view-event>
      <div
        class="cal-resize-handle cal-resize-handle-after-end"
        *ngIf="dayEvent.event?.resizable?.afterEnd && !dayEvent.endsAfterDay"
        mwlResizeHandle
        [resizeEdges]="{ bottom: true }">
      </div>
    </div>
  </div>
  <div class="cal-hour" *ngFor="let hour of hours; trackBy:trackByHour" [style.minWidth.px]="view?.width + 70">
   <timesheet-calendar-day-view-hour-segment
      *ngFor="let segment of hour.segments; trackBy:trackByHourSegment"
      [style.height.px]="hourSegmentHeight"
      [segment]="segment"
      [segmentHeight]="hourSegmentHeight"
      [locale]="locale"
      [customTemplate]="hourSegmentTemplate"
      (mwlClick)="hourSegmentClicked.emit({date: segment.date})"
    >
    </timesheet-calendar-day-view-hour-segment> 
  </div>
</div></div>