
<div *ngIf="timeEntry">
    <h2><span jhiTranslate="timesheetApp.timeEntry.detail.title">Time Entry</span> {{timeEntry.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.timeEntry.code">Code</span></dt>
        <dd>
            <span>{{timeEntry.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.timeEntry.description">Description</span></dt>
        <dd>
            <span>{{timeEntry.description}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.timeEntry.createdDate">Created Date</span></dt>
        <dd>
            <span>{{timeEntry.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.timeEntry.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{timeEntry.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.timeEntry.duration">Duration</span></dt>
        <dd>
            <span>{{timeEntry.duration}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.timeEntry.status">Status</span></dt>
        <dd>
            <span>{{timeEntry.status}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.timeEntry.module">Module</span></dt>
        <dd>
            <span>{{timeEntry.module}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.timeEntry.project">Project</span></dt>
        <dd>
            <span>{{timeEntry.project}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.timeEntry.user">User</span></dt>
        <dd>
            <span>{{timeEntry.user}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'time-entry/'+ timeEntry.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
