
<div *ngIf="mission">
    <h2><span jhiTranslate="timesheetApp.mission.detail.title">Mission</span> {{mission.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.mission.code">Code</span></dt>
        <dd>
            <span>{{mission.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.mission.createdDate">Created Date</span></dt>
        <dd>
            <span>{{mission.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.mission.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{mission.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.mission.startDate">Start Date</span></dt>
        <dd>
            <span>{{mission.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.mission.endDate">End Date</span></dt>
        <dd>
            <span>{{mission.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.mission.user">User</span></dt>
        <dd>
            <span>{{mission.user}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.mission.project">Project</span></dt>
        <dd>
            <span>{{mission.project}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.mission.addresses">Addresses</span></dt>
        <dd>
            <span>{{mission.addresses}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.mission.country">Country</span></dt>
        <dd>
            <span>{{mission.country}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'mission/'+ mission.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
