<div>
    <h2>
        <span jhiTranslate="timesheetApp.mission.home.title">Missions</span>
        <button class="btn btn-primary float-right jh-create-entity create-mission" [routerLink]="['/', { outlets: { popup: ['mission-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="timesheetApp.mission.home.createLabel">
            Create new Mission
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'timesheetApp.mission.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="missions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="timesheetApp.mission.code">Code</span></th>
            <th><span jhiTranslate="timesheetApp.mission.createdDate">Created Date</span></th>
            <th><span jhiTranslate="timesheetApp.mission.updatedDate">Updated Date</span></th>
            <th><span jhiTranslate="timesheetApp.mission.startDate">Start Date</span></th>
            <th><span jhiTranslate="timesheetApp.mission.endDate">End Date</span></th>
            <th><span jhiTranslate="timesheetApp.mission.user">User</span></th>
            <th><span jhiTranslate="timesheetApp.mission.project">Project</span></th>
            <th><span jhiTranslate="timesheetApp.mission.addresses">Addresses</span></th>
            <th><span jhiTranslate="timesheetApp.mission.country">Country</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mission of missions ;trackBy: trackId">
                <td><a [routerLink]="['../mission', mission.id ]">{{mission.id}}</a></td>
                <td>{{mission.code}}</td>
                <td>{{mission.createdDate | date:'mediumDate'}}</td>
                <td>{{mission.updatedDate | date:'mediumDate'}}</td>
                <td>{{mission.startDate | date:'mediumDate'}}</td>
                <td>{{mission.endDate | date:'mediumDate'}}</td>
                <td>{{mission.user.login}}</td>
                <td>{{mission.project.name}}</td>
                <td>{{mission.addresses}}</td>
                <td>{{mission.country.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../mission', mission.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mission/'+ mission.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mission/'+ mission.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
