
<div *ngIf="currency">
    <h2><span jhiTranslate="timesheetApp.currency.detail.title">Currency</span> {{currency.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.currency.code">Code</span></dt>
        <dd>
            <span>{{currency.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.currency.isoCode">Iso Code</span></dt>
        <dd>
            <span>{{currency.isoCode}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.currency.value">Value</span></dt>
        <dd>
            <span>{{currency.value}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.currency.createdDate">Created Date</span></dt>
        <dd>
            <span>{{currency.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.currency.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{currency.updatedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'currency/'+ currency.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
