
<div *ngIf="customer">
    <h2><span jhiTranslate="timesheetApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.customer.code">Code</span></dt>
        <dd>
            <span>{{customer.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customer.name">Name</span></dt>
        <dd>
            <span>{{customer.name}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customer.createdDate">Created Date</span></dt>
        <dd>
            <span>{{customer.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customer.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{customer.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customer.customerContacts">Customer Contacts</span></dt>
        <dd>
            <span>{{customer.customerContacts}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.customer.addresses">Addresses</span></dt>
        <dd>
            <span>{{customer.addresses}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
