
<div *ngIf="sickLeaveRequest">
    <h2><span jhiTranslate="timesheetApp.sickLeaveRequest.detail.title">Sick Leave Request</span> {{sickLeaveRequest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.sickLeaveRequest.media">Media</span></dt>
        <dd>
            <span>{{sickLeaveRequest.media}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sick-leave-request/'+ sickLeaveRequest.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
