
<div *ngIf="address">
    <h2><span jhiTranslate="timesheetApp.address.detail.title">Address</span> {{address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.address.code">Code</span></dt>
        <dd>
            <span>{{address.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.address.createdDate">Created Date</span></dt>
        <dd>
            <span>{{address.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.address.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{address.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.address.apartment">Apartment</span></dt>
        <dd>
            <span>{{address.apartment}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.address.buildng">Buildng</span></dt>
        <dd>
            <span>{{address.buildng}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.address.department">Department</span></dt>
        <dd>
            <span>{{address.department}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.address.pobox">Pobox</span></dt>
        <dd>
            <span>{{address.pobox}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.address.postaCode">Posta Code</span></dt>
        <dd>
            <span>{{address.postaCode}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.address.streetName">Street Name</span></dt>
        <dd>
            <span>{{address.streetName}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.address.streetNumber">Street Number</span></dt>
        <dd>
            <span>{{address.streetNumber}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.address.town">Town</span></dt>
        <dd>
            <span>{{address.town}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.address.country">Country</span></dt>
        <dd>
            <span>{{address.country}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.address.type">Type</span></dt>
        <dd>
            <span>{{address.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
