<div>
    <h2>
        <span jhiTranslate="timesheetApp.address.home.title">Addresses</span>
        <button class="btn btn-primary float-right jh-create-entity create-address" [routerLink]="['/', { outlets: { popup: ['address-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="timesheetApp.address.home.createLabel">
            Create new Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'timesheetApp.address.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="addresses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="timesheetApp.address.code">Code</span></th>
            <th><span jhiTranslate="timesheetApp.address.createdDate">Created Date</span></th>
            <th><span jhiTranslate="timesheetApp.address.updatedDate">Updated Date</span></th>
            <th><span jhiTranslate="timesheetApp.address.apartment">Apartment</span></th>
            <th><span jhiTranslate="timesheetApp.address.buildng">Buildng</span></th>
            <th><span jhiTranslate="timesheetApp.address.department">Department</span></th>
            <th><span jhiTranslate="timesheetApp.address.pobox">Pobox</span></th>
            <th><span jhiTranslate="timesheetApp.address.postaCode">Posta Code</span></th>
            <th><span jhiTranslate="timesheetApp.address.streetName">Street Name</span></th>
            <th><span jhiTranslate="timesheetApp.address.streetNumber">Street Number</span></th>
            <th><span jhiTranslate="timesheetApp.address.town">Town</span></th>
            <th><span jhiTranslate="timesheetApp.address.country">Country</span></th>
            <th><span jhiTranslate="timesheetApp.address.type">Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let address of addresses ;trackBy: trackId">
                <td><a [routerLink]="['../address', address.id ]">{{address.id}}</a></td>
                <td>{{address.code}}</td>
                <td>{{address.createdDate | date:'mediumDate'}}</td>
                <td>{{address.updatedDate | date:'mediumDate'}}</td>
                <td>{{address.apartment}}</td>
                <td>{{address.buildng}}</td>
                <td>{{address.department}}</td>
                <td>{{address.pobox}}</td>
                <td>{{address.postaCode}}</td>
                <td>{{address.streetName}}</td>
                <td>{{address.streetNumber}}</td>
                <td>{{address.town}}</td>
                <td>{{address.country.name}}</td>
                <td>{{address.type.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../address', address.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
