<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAddressLabel" jhiTranslate="timesheetApp.address.home.createOrEditLabel">Create or edit a Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!address.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="address.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.address.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="address.code" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.address.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="address.createdDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.address.updatedDate" for="field_updatedDate">Updated Date</label>
            <div class="input-group">
                <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" ngbDatepicker  #updatedDateDp="ngbDatepicker" [(ngModel)]="address.updatedDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="updatedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.address.apartment" for="field_apartment">Apartment</label>
            <input type="text" class="form-control" name="apartment" id="field_apartment"
                [(ngModel)]="address.apartment" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.address.buildng" for="field_buildng">Buildng</label>
            <input type="text" class="form-control" name="buildng" id="field_buildng"
                [(ngModel)]="address.buildng" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.address.department" for="field_department">Department</label>
            <input type="text" class="form-control" name="department" id="field_department"
                [(ngModel)]="address.department" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.address.pobox" for="field_pobox">Pobox</label>
            <input type="text" class="form-control" name="pobox" id="field_pobox"
                [(ngModel)]="address.pobox" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.address.postaCode" for="field_postaCode">Posta Code</label>
            <input type="text" class="form-control" name="postaCode" id="field_postaCode"
                [(ngModel)]="address.postaCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.address.streetName" for="field_streetName">Street Name</label>
            <input type="text" class="form-control" name="streetName" id="field_streetName"
                [(ngModel)]="address.streetName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.address.streetNumber" for="field_streetNumber">Street Number</label>
            <input type="text" class="form-control" name="streetNumber" id="field_streetNumber"
                [(ngModel)]="address.streetNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.address.town" for="field_town">Town</label>
            <input type="text" class="form-control" name="town" id="field_town"
                [(ngModel)]="address.town" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.address.country" for="field_country">Country</label>
            <select class="form-control" name="country"  [(ngModel)]="address.country">
                <option [ngValue]="country.id === address.country?.id ? address.country : country" *ngFor="let country of countries;"> {{country.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timesheetApp.address.type" for="field_type">Type</label>
            <select class="form-control" name="type"  [(ngModel)]="address.type">
                <option [ngValue]="type.id === address.type?.id ? address.type : type" *ngFor="let type of types;"> {{type.name}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
