<div>
    <h2>
        <span jhiTranslate="timesheetApp.dayOff.home.title">Day Offs</span>
        <button class="btn btn-primary float-right jh-create-entity create-day-off" [routerLink]="['/', { outlets: { popup: ['day-off-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="timesheetApp.dayOff.home.createLabel">
            Create new Day Off
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'timesheetApp.dayOff.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dayOffs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="timesheetApp.dayOff.code">Code</span></th>
            <th><span jhiTranslate="timesheetApp.dayOff.createdDate">Created Date</span></th>
            <th><span jhiTranslate="timesheetApp.dayOff.updatedDate">Updated Date</span></th>
            <th><span jhiTranslate="timesheetApp.dayOff.date">Date</span></th>
            <th><span jhiTranslate="timesheetApp.dayOff.name">Name</span></th>
            <th><span jhiTranslate="timesheetApp.dayOff.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dayOff of dayOffs ;trackBy: trackId">
                <td><a [routerLink]="['../day-off', dayOff.id ]">{{dayOff.id}}</a></td>
                <td>{{dayOff.code}}</td>
                <td>{{dayOff.createdDate | date:'mediumDate'}}</td>
                <td>{{dayOff.updatedDate | date:'mediumDate'}}</td>
                <td>{{dayOff.date | date:'mediumDate'}}</td>
                <td>{{dayOff.name}}</td>
                <td>{{dayOff.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../day-off', dayOff.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'day-off/'+ dayOff.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'day-off/'+ dayOff.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
