
<div *ngIf="dayOff">
    <h2><span jhiTranslate="timesheetApp.dayOff.detail.title">Day Off</span> {{dayOff.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.dayOff.code">Code</span></dt>
        <dd>
            <span>{{dayOff.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.dayOff.createdDate">Created Date</span></dt>
        <dd>
            <span>{{dayOff.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.dayOff.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{dayOff.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.dayOff.date">Date</span></dt>
        <dd>
            <span>{{dayOff.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.dayOff.name">Name</span></dt>
        <dd>
            <span>{{dayOff.name}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.dayOff.description">Description</span></dt>
        <dd>
            <span>{{dayOff.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'day-off/'+ dayOff.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
