
<div *ngIf="project">
    <h2><span jhiTranslate="timesheetApp.project.detail.title">Project</span> {{project.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timesheetApp.project.code">Code</span></dt>
        <dd>
            <span>{{project.code}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.project.name">Name</span></dt>
        <dd>
            <span>{{project.name}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.project.createdDate">Created Date</span></dt>
        <dd>
            <span>{{project.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.project.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{project.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.project.summury">Summury</span></dt>
        <dd>
            <span>{{project.summury}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.project.description">Description</span></dt>
        <dd>
            <span>{{project.description}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.project.startDate">Start Date</span></dt>
        <dd>
            <span>{{project.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.project.endDate">End Date</span></dt>
        <dd>
            <span>{{project.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.project.status">Status</span></dt>
        <dd>
            <span>{{project.status}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.project.currency">Currency</span></dt>
        <dd>
            <span>{{project.currency}}</span>
        </dd>
        <dt><span jhiTranslate="timesheetApp.project.customer">Customer</span></dt>
        <dd>
            <span>{{project.customer}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
