<div>
    <h2>
        <span jhiTranslate="timesheetApp.project.home.title">Projects</span>
        <button class="btn btn-primary float-right jh-create-entity create-project" [routerLink]="['/', { outlets: { popup: ['project-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="timesheetApp.project.home.createLabel">
            Create new Project
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'timesheetApp.project.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="projects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="timesheetApp.project.code">Code</span></th>
            <th><span jhiTranslate="timesheetApp.project.name">Name</span></th>
            <th><span jhiTranslate="timesheetApp.project.createdDate">Created Date</span></th>
            <th><span jhiTranslate="timesheetApp.project.updatedDate">Updated Date</span></th>
            <th><span jhiTranslate="timesheetApp.project.summury">Summury</span></th>
            <th><span jhiTranslate="timesheetApp.project.description">Description</span></th>
            <th><span jhiTranslate="timesheetApp.project.startDate">Start Date</span></th>
            <th><span jhiTranslate="timesheetApp.project.endDate">End Date</span></th>
            <th><span jhiTranslate="timesheetApp.project.status">Status</span></th>
            <th><span jhiTranslate="timesheetApp.project.currency">Currency</span></th>
            <th><span jhiTranslate="timesheetApp.project.customer">Customer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projects ;trackBy: trackId">
                <td><a [routerLink]="['../project', project.id ]">{{project.id}}</a></td>
                <td>{{project.code}}</td>
                <td>{{project.name}}</td>
                <td>{{project.createdDate | date:'mediumDate'}}</td>
                <td>{{project.updatedDate | date:'mediumDate'}}</td>
                <td>{{project.summury}}</td>
                <td>{{project.description}}</td>
                <td>{{project.startDate | date:'mediumDate'}}</td>
                <td>{{project.endDate | date:'mediumDate'}}</td>
                <td>{{project.status}}</td>
                <td>{{project.currency.isoCode}}</td>
                <td>{{project.customer.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../project', project.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
